<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Totemapp</string>
	<key>CFBundleIdentifier</key>
	<string>be.scoutsengidsenvlaanderen.totemapp</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DINPro-Light.ttf</string>
		<string>DINPro-Regular_13937.ttf</string>
		<string>sketch_block_light.ttf</string>
		<string>Verveine W01 Regular.ttf</string>
		<string>DIN-LightItalic.ttf</string>
		<string>DINPro-Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundleName</key>
	<string>Totemapp</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>UIMainNibFile</key>
	<string>SGV/TotemApp/Controllers/Main/MainViewController</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcon.appiconset</string>
	<key>UIMainNibFile~ipad</key>
	<string>SGV/TotemApp/Controllers/Main/MainViewController</string>
	<key>UIRequiresFullScreen</key>
	<string>Yes</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
</dict>
</plist>
